<div class="fullArea">
    <h4 for="heading" class="heading">Add Phase Training</h4>
    <form  autocomplete="off" #form="ngForm" (ngSubmit)="onSubmit(form)" >
        <div class="row g-5">
            <div class="col-md-4 mb-4">
                <label class="form-label">Phase Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="name" ngModel>

            </div>
            <div class="col">
                <label class="form-label">Durations<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="duration" ngModel>

            </div>
            <div class="col">
                <label class="form-label">Level<span class="text-danger">*</span></label>
                <select class="form-select" name="level" ngModel>
                    <option selected disabled>Select Level</option>
                    <option *ngFor="let phase of phases" [value]="phase">{{phase}}</option>
                </select>

            </div>
            <div class="col">
                <label for="Description" class="form-label">Phase Description</label>
                <textarea style="width: 35rem; box-shadow: none; height: 10px;" class="form-control"
                name="description" ngModel ></textarea>
            </div>
            <div class="col">
                <div class="col mb-2">
                    <label class="form-check-label" for="active">Status</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="active" name="active" ngModel ="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="col mb-2" >
                    <h4>Technologies</h4>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" style="margin-left: -5px;"><b>Low</b></div>
                            <div class="col" style="margin-left: -20px;"><b>Medium</b></div>
                            <div class="col"><b>High</b></div>
                        </div>
                        <form class="row" *ngFor="let object of technology,let i=index" ngModelGroup="technologyList"  >
                            <div class="col" >
                                <input type="checkbox" name="active" [(ngModel)]="object.active"/>
                                <label>{{object.technology.name}}</label>
                            </div>
                            <div class="col"><input type="radio" name="level" [(ngModel)]="object.levelId.id" value=1 ngModel></div>
                            <div class="col"><input type="radio" name="level" [(ngModel)]="object.levelId.id" value=2 ngModel></div>
                            <div class="col"><input type="radio" name="level" [(ngModel)]="object.levelId.id" value=3 ngModel></div>

                        
                        </form>
                    </div>
            </div>
        </div>
        <div class="d-grid gap-3 d-md-flex justify-content-md-end">

                <button type="button" class="btn btn-sm" type="submit" 
                >Save</button>
            <button type="button" class="btn btn-sm" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>

