<body>
  <div class="container" id="container">
    <div class="form-container log-in-container">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="social-container">
          <img src="../../assets/Images/xebia-logo.png">
        </div>
        <h1>Reset Password</h1>
        <div class="form-group">
          <input class="form-field" type="email" id="floatingInput" placeholder="Email" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && form.email.errors }" id="inputEmail4">
          <button type="submit"><i class='fas fa-paper-plane' style='font-size:15px'></i></button>
        <div *ngIf="submitted && form.email.errors || form['email']?.touched && form['email']?.errors?.['required'] && form['email']?.errors?.['maxLength'] && form['email']?.errors?.['minLength'] "
        class="invalid">*Enter valid Email </div>
        </div>
        <p>Enter your Xebia Email Address !</p>
      </form>
    </div>
    <div class="overlay">
      <img src="../../assets/Images/forgot password.jpg">
    </div>
  </div>
</body>