<body>
     <div class="container" id="container">
      <div class="form-container log-in-container">
        <form  [formGroup]="ConfirmForm" (ngSubmit)="onSubmit()">
          <div class="social-container">
            <img src="../../assets/Images/xebia-logo.png">
          </div>
          <h1>Reset Password</h1>        
           <div class="form">
                <input [type]="passwd" placeholder="New Password" 
                formControlName="password"
                class="form-control" />
                <div *ngIf="password && password.touched && password.invalid" 
                 class="invalid" >
                    *Enter Valid Password </div>  
                <input [type]="passwd" placeholder="Confirm Password"
                 formControlName="confirmPassword"
                 id="inputPassword4"  class="form-control" />
                <span class="eye" (click)="Click()">
                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                </span>
                <div *ngIf="passwordMatchError" class="invalid-feedbacks">
                    *Password does not match   </div>
            </div>
            <div class="rowbutton">
                <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 signin cancel" type="button"
                    (click)="decision()">Cancel</button>
                <button class="btn btn-lg btn-primary btn-login  fw-bold mb-2 signin" type="submit">
                    Submit</button>
            </div>
        </form>
      </div>
        <div class="overlay">
            <img src="../../assets/Images/reset.png">
        </div>
    </div>
<div class="confirmation" *ngIf="confirm">
    <div class="box ">
        <h2>Are you sure you want to cancel the operation?</h2>
        <div class="popup">
            <button class="btn btn-lg btn-primary btn-login cancel"
                (click)="decision()">Cancel</button>
            <button class="btn btn-lg btn-primary btn-login signin" 
                (click)="route()">Confirm</button>
        </div>
    </div>
</div>
</body>