body {
	padding: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #6a1b58;
}

.form-control[type="password"]::-ms-reveal,
.form-control[type="password"]::-ms-clear {
	display: none;
}

h1 {
	font-weight: 500;
	margin: 10px;
	color: rgb(119, 119, 119);
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	input {
		height: 45px;
		width: 70%;
		background-color: transparent;
		outline: none;
		color: #000000;
		border: none;
		font-weight: 600;
		border-top: 1.5px solid rgb(119, 119, 119);
		border-radius: 5px;
		box-shadow: 0 0 2px #666;
		padding: 12px 15px;
		margin: 8px 0;
	}

	.eye {
		color: rgb(119, 119, 119);
		position: relative;
		top: -45px;
		font-size: 20px;
		margin-left: 265px;
	}
}

.social-container img {
	height: 65px;
	width: 200px;
}

.overlay img {
	width: 90%;
	z-index: 2;
	height: 75%;
}

.container {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	margin: 25px;
	padding: 10px;
	border-radius: 10px;
	height: 85%;
	width: 92%;
	z-index: 2;
}

.form-container {
	width: 43%;
	z-index: 2;
	align-items: center;
	justify-content: center;

}

form {
	text-align: center;
}

.overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	height: 110%;
	width: 50%;
}

.login-form {
	display: flex;
	flex-direction: column;
	padding: 50px;
}

.btn:hover {
	background-color: transparent;
	color: #6a1b58;
	font-weight: bold;
	letter-spacing: 1.5px;
	border: 1.5px solid #6a1b58;
}

.rowbutton {
	display: flex;
	float: right;
	margin-right: 15%;
	margin-top: -10px;
}

.btn {
	background-color: #6a1b58;
	width: 50%;
	height: 35px;
	font-weight: bold;
	font-size: large;
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 5px 12px;
	color: #FFFFFF;
	font-size: 15px;
	cursor: pointer;
	letter-spacing: 1.5px;
	transition: transform 80ms ease-in;
	position: relative;
}

.cancel {
	background-color: transparent;
	color: #6a1b58;
	border: 1.5px solid #6a1b58;
	width: 100px;
	margin-right: 2%;
	border-radius: 5px;
	font-size: 15px;
	padding: 5px 10px;
	cursor: pointer;
	font-weight: bold;
	cursor: pointer;
	letter-spacing: 1.5px;
	transition: transform 80ms ease-in;
	position: relative;
}

.confirmation {
	width: 100%;
	height: 620px;
	position: absolute;
	top: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.699);
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	display: flex;
	flex-direction: column;
	gap: 15px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	padding: 50px;
	margin: auto;
	width: 40%;
}

.popup {
	width: 50%;
	display: flex;
	margin-left: 40%;
}

.invalid {
	color: red;
	font-weight: 500;
}

.invalid-feedbacks {
	margin-top: -7%;
	margin-bottom: 30px;
	color: red;
	font-weight: 500;
}

@media (max-width:700px) {
	.container {
		display: flex;
		flex-direction: column-reverse;
		min-width: 400px;
		width: 45%;
		height: 100%;
		padding: 0px;
		overflow: auto;
	}

	.overlay {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFFFFF;
		height: 100%;
		width: 75%;
	}
}